body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

/* For Header Section */
header {

    background: rgba(229, 84, 115, 0.10);
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
}

.banner-text h1 {
    font-size: 80px;
    font-weight: 900;
}

.banner-text p {
    color: rgba(39, 39, 39, 0.60);
    /* font-style: normal; */
    font-weight: 400;
    line-height: 30px;
    font-size: 15px;
    padding-bottom: 20px;

}

.btn {
    background-color: #E55473;
    color: aliceblue;
    border-radius: 5px;
    padding: 20px 35px;
    border: 0;
    font-size: 20px;
}

.fst-img {
    width: 580px;
    padding-top: 70px;
}

/*  For Main Section */

.main-section {}

.feature {
    text-align: center;
}

.feature h2 {
    font-size: 50px;
    color: rgb(39, 39, 39);
    font-weight: 800;
    margin-top: 110px;
}

.feature p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.display {
    margin: 0 auto;
    display: flex;
    width: 50%;
    padding-top: 120px;
    justify-content: center;

}

.display p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.dis-one {
    width: 560px;
    height: 640px;
    margin: 0px 20px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.dis-img-one {
    width: 350px;
    height: 575px;
    margin: 0px 125px;
    margin-top: 65px;
}

.dis-two {
    width: 560px;
    height: 640px;
    margin: 0px 35px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.dis-img-two {
    width: 380px;
    height: 390px;
    margin: 0px 85px;
    margin-bottom: 100px;
    margin-top: 150px;

}

.dis-three {
    width: 560px;
    height: 640px;
    margin: 0px 20px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.dis-img-three {
    width: 330px;
    height: 550px;
    margin: 0px 125px;
    margin-top: 90px;
}

/* For Support Section */
.sup-section {
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 150px 230px;
    margin-top: 100px;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.sup-img {
    width: 100px;
    margin: 0px 175px;
}

.sup-section p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
}

/* For Middle Section */
.mid-section {
    background: rgba(229, 84, 115, 0.10);
    height: 615px;
    margin-top: 130px;

}

.mid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    margin: 0 auto;
    width: 60%;
}

.mid-description {
    text-align: center;
    margin-top: 75px;
}
.mid-description h3{
    color: #272727;
font-size: 45px;
font-weight: 800;
}
.off{
   color: #E55473;
}
.mid-description p{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 25px;
padding-bottom: 25px;
}

.mid-img {
    width: 290px;
    margin: 55px 40px;
    padding-top: 100px;
}

/* For Instragram Section */
.ins-content {
    text-align: center;
    margin: 85px 0px;
}

.ins-content h2 {
    color: #272727;
    font-size: 45px;
    font-weight: 800;

}

.ins-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.ins-glr {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 75px 0px;
}

.ins-img {
    width: 340px;
    height: 480px;
    margin: 0px 15px;  

}